@model Layer.Entity.Entities.Types
@{
    ViewData["Title"] = "newTypes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>New Type</h1>
    <form class="form-group-sm" method="post">
        @Html.Label("Type Name")
        @Html.TextBoxFor(x=>x.Type_Name, new{ @class = "form-control"})
        <br />
        <button class="btn btn-primary">Add</button>
    </form>
</div>